body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
    padding-top: 50px;
}

h2 {
    color: #333;
}

input, button {
    padding: 10px;
    margin: 5px;
    width: 250px;
}

button {
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #555;
}

a {
    text-decoration: none;
    color: #333;
}
